/* FONTS */
@font-face {
    font-family: 'ralewayregular';
    src: url('./fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('./fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('./fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */
*{
	padding: 0;
	margin: 0;
	word-wrap: break-word;
}
html, body{
	height: 100%;
}
body{
	position: relative;
	font-family: 'source_sans_proregular', arial;
	font-size: 1.2rem;
	color: #383a3f;
}
strong{
	font-weight: normal;
}
a{
	text-decoration: none;
	color: #383a3f;
	border-bottom: 1px solid #383a3f;
}
a:hover{
	font-weight: bold;
	border-bottom: none
}
h3{
	font-size: 1.4rem;
}
.bold{
	font-weight: bold;
}
.d-flex{
	display: flex;
}
.j-space-between{
	justify-content: space-between;
}
.j-space-around{
	justify-content: space-around;
}
.j-center{
	justify-content: center;
}
.a-center{
	align-items: center;
}
.t-center{
	text-align: center;
}

/* HEADER */
.container-header{
	margin: 0 50px;
}
#logo{
	width : 100px;
	height: 100px;
}
.container-logo a{
	border-bottom: 0px;
}
.menu li{
	list-style: none;
	padding: 20px;
}
.menu li:hover a{
	border-bottom: 2px solid #e2a800;
}
.menu a{
	color: #e2a800;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 0px;
	font-weight: bold;
	letter-spacing: 0.1rem;
}
.active{
	border-bottom: 2px solid #e2a800 !important;
}

/* FOOTER */
footer{
	width: 100%;
	background-color: #383a3f;
	min-height: 20vh;
	margin-top: 10vh;
}
.footer-text{
	color: #ffffff;
}

/* MAIN */
.button{
	width: fit-content;
	padding: 15px 25px;
	margin: 25px 0;
	background-color: #e2a800;
	border: 2px solid #e2a800;
	border-radius: 45px;
	font-family: 'source_sans_proregular', arial;
	font-size: 1.1rem;
	color: #ffffff;
	text-decoration: none;
}
.button:hover{
	background-color: #ffffff;
	color: #e2a800;
	border: 2px solid #e2a800;
	cursor: pointer;
}
.button-link{
	border-bottom: 0;
}
.button-container{
	height:50px;
	margin: 30px 0;
	align-items: center;
}
.container-page{
    min-height: calc(100vh - 111px - 8vh - 30vh);
	max-width: 1280px;
	margin: 0 auto;
}
.container-intro{
	max-width: 60vw;
	max-height: 50vh;
	flex-direction: column;
	margin: 8vh auto;
}
.content{
	font-size: 1.7rem;
	margin: 1rem 0;
}
.title--1{
	font-size: 3rem;
	line-height: 200%;
}
p{
	line-height: 170%;
}

/* CARDS */
.container-cards{
	flex-wrap: wrap;
	padding: 0 10vw;
}
.card{
	flex-direction: column;
	width: 350px;
	min-width: 350px;
	max-height: 500px;
	margin: 35px 20px;
	box-shadow: 0px 3px 10px #B6B6B6;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
.card-image{
	flex-direction: column;
	max-height: 249px;
	overflow: hidden;
}
.card-image > img{
	width: 100%;
	height: 249px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.card-image:hover > img {
    transform: scale(1.2);
    filter: brightness(0.5);
    transition: all 0.5s ease-in-out;
}
.card-image > p{
	color: #fff;
	position: relative;
	bottom: 37px;
	left: 17px;
	z-index: 1;
}
.card-content{
	max-height: 500px;
	margin: 13px;
	cursor: default;
}
.card-image::after{
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}
.container-content{
	flex-direction: column;
	margin-top: 8vh;
}
.text{
	text-align: center;
}
h3{
	line-height: 45px;
}

/* POPIN */
#backdrop{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background: #3e3e3e73;
	z-index: 99;
	overflow: auto;
}
#img-modal{
	max-width: 80vw;
	height: auto;
	margin: auto;
}

/* CONTACT */
.container-video, video{
	max-width: 50vw;
	max-height: 50vh;
	overflow: hidden;
    border-radius: 10px;
}
.container-form{
	padding: 0 10vw;
}
#contact-form{
	min-width: 35vw;
	margin-right: 2vw;
}
label{
	font-family: 'source_sans_proregular', arial;
}
.form-content{
	display: flex;
	flex-direction: column;
}
.form-style{
	font-family: inherit;
	color: inherit;
	border: none;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
	.title--1{
		font-size: 2.3rem;
	}
	.content, p{
		font-size: 1.3rem;
	}
	.button{
		font-size: 1rem;
	}
	.container-form{
		flex-direction: column-reverse;
	}
	#contact-form{
		margin: 0;
		min-width: 60vw;
	}
	.container-video{
		min-width: 100vw;
		display: flex;
		justify-content: center;
		margin: 25px 0;
	}
	#video{
		max-width: 100vw;
	}

	@media only screen and (max-width: 600px) {
		.container-intro{
			margin: 3% auto;
		}
	}










